a {
    font-weight: 500;
    text-decoration: inherit;
  }
  
  h1 {
    font-size: 3.2em;
    line-height: 1.1;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 1rem;
  }
  
  nav a {
    padding: 0.5rem 1rem;
    border-radius: 4px;
  }
