.buttons {
  display: flex;
  justify-content: center;
}

button {
  margin: 4px;
  padding: 7px;
  border-radius: 25px;
  width: 110px;
  border: none;
  cursor: pointer;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 600;
}

.z {
  height: 75px;
  margin: 0 auto;
  z-index: -2;
  display: flex;
  box-shadow: 2px 19px 14px -3px rgba(0, 0, 0, 0.15);
}

#kaspi {
  padding-top: 10px;
  padding-left: 90px;
}

.category-selector {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.category-selector button {
  padding: 10px 15px;
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
}

.category-selector button:hover {
  background-color: #c70303;
  color: white;
}